@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    min-height: 100vh;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

h1 {
    line-height: 1;
    font-size: 48px;
    color: #f9faf8;
}

/* Hero Section */

.hero {
    background-color: #1f2937;
    height: 90vh;
    color: #fff;
    padding: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar h3 {
    font-size: 24px;
}

.navbar p {
    font-size: 18px;
}

.hero_content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.navbar,
.hero_content {
    margin: 0 200px 0 100px;
}

.left_side {
    max-width: 500px;
    align-self: center;
}

.left_side p {
    color: #CCCFD4;
    max-width: 400px;
    margin-top: 15px;
}

.signup {
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #3882f6;
    color: #fff;
    border: none;
    margin-top: 10px;
}

.right_side {
    align-self: center;
    
}

.placeholder_img {
    width: 550px;
    height: 250px;
    background-color: #6D747D;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Info Section */

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    
}

.info h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cards {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    gap: 30px;
    margin-top: 40px;
}

.box {
    height: 185px;
    width: 185px;
    border: 4px solid #3882f6;
    border-radius: 20px;
}

.card p {
    width: 185px;
    text-align: center;
    color: #4B5563;
}

/* Quote Section */

.quote {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.quote p {
    justify-self: flex-end;
    font-size: 35px;
    max-width: 800px;
    font-weight: 100;
    font-style: italic;
}

.quote p.thor {
    color: #1f2937;
    font-weight: 900;
    font-size: 24px;
}

